/* Styling the body element like body color and margin */
body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 16%,
    rgba(148, 187, 233, 1) 84%
  );
  margin: 5% 20% 1%;
}

/* Styling the Title and giving shadow to the title */
#title {
  text-align: center;
  text-shadow: 5px 5px 10px white;
  font-size: 7vh;
}

/* Setting width and display type of image */
#box {
  overflow: hidden;
}

#box img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s ease-in-out;
}

#box:hover img {
  scale: 1.05;
}

/* Setting font color and font size of the image-caption */
#caption {
  font-size: 17px;
  font-family: Gill Sans;
  color: black;
}

/* Styling the content of the page like padding, font-size, font color etc.*/
div#tribute-data {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 16%,
    rgba(148, 187, 233, 1) 84%
  );
  box-shadow: 10px 10px 20px #032423;
  font-family: Georgia;
  padding: 25px 25px;
  margin: 11px;
  margin-top: 50px;
  border-radius: 10px;
}

/* Styling the title of the content */
h1.title-APJ {
  font-size: 35px;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 10px black;
}

.footer {
  text-align: center;
}

/* Styling the link provided at the end */
#tribute-link {
  text-decoration: none;
  color: black;
}
